body, html {
    background-image: url('../images/background.jpg');
    border: transparent solid 0.1px;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 1px;
    margin: 50px;
    box-shadow: 10px 5px 5px gray;
    margin-top: 5%;
    margin-bottom: 5%;
}

.block1 {
    flex: 1;
    border: 1px;
    margin: 0.5px;
    display: flex;
    line-height: 30px;
    background-color: white;
    justify-content: space-between;
}

.block2 {
    flex: 1;
    display: flex;
    padding: 1px;
    margin: 0.5px;
    background-color: white;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.checkout {
    flex: 1;
    display: flex;
    margin: 1px;
    margin-right: 0.2%;
    justify-content: space-between;
    padding: 1px 13px
}

.checkout1 {
    display: inline;
    flex: 5;
}

.breadcrumb {
    display: flex;
}

.paymentblock {
    display: flex;
    flex: 6;
    width: 20%;
    flex-direction: column;
    background-color: white;
}

.cartblock {
    display: flex;
    flex: 6;
    width: 60%;
    background-color: #EFF1F0;
    flex: 4;
}

.icon {
    display: flex;
    flex: 0;
    margin: 8px;
}

.image {
    flex-direction: row;
    display: flex;
}

.co_image {
    flex: 1;
    flex-direction: row;
    padding: 1%;
    color: black;
    font-size: small;
}

.co_img {
    width: 100%;
    padding: 0%;
    margin: auto;
}

.co_image:hover {
    border-radius: 1px;
    border: 2px solid #e4e4e4;
    background-color: #e4e4e4;
}

.n_card {
    color: gray;
    padding-top: 2%;
    flex: 2;
    padding: 1px 13px
}

.wallet {
    color: gray;
    padding-top: 2%;
    flex: 2;
    padding: 1px 13px
}

.first {
    margin-left: 2%;
    margin-top: 2%;
    flex: auto;
}

div.amt {
    text-align: justify;
}

.co_item {
    flex: 1;
}

.item {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.item_image {
    border: 6px solid #B2B7B3;
    padding: 3%;
    width: 60px;
    height: 60px;
}

.amt {
    flex: 6;
    margin-left: 1%;
    text-align: left;
    font-size: medium;
}

.buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.price {
    flex: 1;
    font-size: 15px;
    text-align: right;
    padding: 1px 13px
}

#name {
    margin-left: 25%;
    width: 45%;
    padding: 1%;
}

#acc {
    margin-left: 25%;
    width: 45%;
    padding: 1%;
}

#exp {
    margin-left: 25%;
    width: 20%;
    padding: 1%;
}

#cvv {
    width: 20%;
    padding: 1%;
    margin-left: 4%;
}

.button {
    color: white;
    width: 45%;
    background-color: #08F763;
    margin-left: 25%;
    padding: 2%;
}

summary.buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.second {
    padding-top: 5%;
    flex: 1;
}

.summary {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}